<h1>Movie Results</h1>

<ol>
  <% @facade.movies.each do |movie| %>
    <div id="movie_data">
      <li>
      <%= link_to movie.title, user_movie_path(@user, movie.id) %>
      <p>Vote Average for <%= movie.title %>: <%= movie.vote_average %></p>
      </li>
    </div>
  <% end %>
</ol>
