---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_DB_API_KEY>&include_adult=false&include_video=false&language=en-US&query=Pulp%20Fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 64a9b21d5a16e1ce099b46e564cd8595
      X-Memc-Age:
      - '1184'
      X-Memc-Expires:
      - '23018'
      Etag:
      - W/"7bb73a3d0f2225a7665210c8a2c65c38"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp
        Fiction","overview":"A burger-loving hit man, his philosophical partner, a
        drug-addled gangster''s moll and a washed-up boxer converge in this sprawling,
        comedic crime caper. Their adventures unfurl in three stories that ingeniously
        trip back and forth in time.","popularity":369.64,"poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","release_date":"1994-09-10","title":"Pulp
        Fiction","video":false,"vote_average":8.489,"vote_count":27046},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":295641,"original_language":"en","original_title":"Pulp
        Fiction: The Golden Age of Storytelling","overview":"This program profiles
        writers of the 20s, 30s, and 40s--known as the Pulp Fiction era. These writers
        created the iconic movies and characters who live on today in our collective
        hearts and imaginations. It has even been estimated that 90-95% of the top
        blockbusters in Hollywood movies were based on stories from the Pulp Fiction
        era.","popularity":0.622,"poster_path":"/x7siHmBxskdiL8Z2thRzeGajPm4.jpg","release_da[...]
